:root {
  --body-background-color: #1a2234;
  --body-text-color: #f8fafc;
  --card-background-color: #1d273b;
  --nav-background-color: #1d273b;
  --nav-border-bottom-color: #243049;
  --nav-current-border-bottom-color: #314264;
  --card-border-color: #243049;
  --down-border-left-color: #c13333;
  --down-background-color: #d63939;
  --degraded-border-left-color: #de5d06;
  --up-border-left-color: #1d60b0;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
